/*---   Fonts Declaration   ---*/
@font-face {
    font-family: "LouisGeorgeCafe";
    src: url(../elements/font/Louis_George_Cafe.ttf);
}
@font-face {
    font-family: "Quicksand";
    src: url(../elements/font/Quicksand_Book.otf);
}

/*---   Body   ---*/
body {
    background-color: #4C5278;
    position: absolute;
}


/*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*---   Header Elements   ---*/
header {
    height: 100px;
    width: 100%;
    background-color: #2C388E;
    position: fixed;
    z-index: 10;

    ul {
        height: 100px; 
        width: 100%; 
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        
    }

    #login {
        height: 50px;
        filter: invert(1);
        padding-left: 20px;
        padding-right: 20px;
    }

    #logo {
        height: 60px;
        filter: invert(1);    
        padding-left: 20px;
        padding-right: 20px;
    }

    #phone {
        display: flex;
        justify-content: center;

        a {
            width: 100%;
        }
    }
}







/*---   Main Elements   ---*/
main {
    padding-top: 131px;

    .filters {
        display: flex;
        flex-direction: column;
        background-color: #3A416B;
        margin-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        
    }
    label {
        font-size: 15px;
        color: white;
    }
    .slider {
        height: 10px;
        border: none;
    }
    .showcase {
        display: flex;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }
    .case {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        img {
            align-self: center;
            width: 90%;
        }

        .vehicule_name {
            font-size: 20px;
            font-weight: bold;
            padding-left: 18px;
        }
        .info {
            text-align: right;
            margin: 20px;
            font-size: large;
        }
        .more_button {
            width: 45%;
            height: 50px;
            background-color: #3A416B;
            color: white;
            font-weight: bold;
            border-radius: 10px;
            margin-bottom: 12px;
            align-self: center;
        }
    }  
}
















/*---   Footer Elements   ---*/
footer {
    background-color: #2C388E;
    text-align: center;

    p {
        color: white;
        margin: 0;
        font-style: quicksand;
        font-size: 18px;
    }
    :first-child {
        padding-top: 15px;
    }
    :last-child {
        padding-bottom: 15px;
    }
}




/*---   Media Adaptation   ---*/
@media only screen and (min-width: 900px) {

    main {
        .showcase {
            display: flex;
            margin-bottom: 40px;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .case {
            width: 30%;
        }
    }
}
